.cashForm
{
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control input,
.control label {
  display: block;
}

.control label {
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  padding: 0.3rem 0.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 21rem;
  max-width: 100%;
}

.control input:focus {
  outline: none;
  border-color: #04aa6d;
  background-color: #d4fde9;
}

.control select
{
    font:inherit;
    width: 20%;
    text-align: center;
    padding: 0.2rem;
}

.type
{
    margin:0.8rem 0;
}

input[type="radio"]
{
    accent-color: green;
    cursor: pointer;
}

.spend input:focus
{
    outline: none;
    border-color: lightcoral;
    background-color: rgb(255, 232, 235);

}

.spend button
{
    background-color: rgb(255, 112, 133);
    border-color: lightcoral;
}