.header
{
    background-color: #000080;
    padding: 0 2rem 0  1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.title
{
    color: white;
    font-family: 'Open Sans' !important;
}

.nav
{
    display: flex;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}


.nav a.active{
    border-bottom: 2px solid white;
    padding: 0.1rem;
}
